{
  margin:0;
  padding:0;
  font-family: "open Sans",sans-serif;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  
}
.About-Us{
 background: url(https://i.guim.co.uk/img/media/d305370075686a053b46f5c0e6384e32b3c00f97/0_50_5231_3138/master/5231.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=878208abf6d919b7ca9948a523d9ff4e) no-repeat left;
  background-size: 55%;
  overflow: hidden;
  padding: 100px 0;
  
  }
.inner-container{
  width:45%;
  float: right;
  background-color: #fdfdfd;
  paddng: 150px;
}
.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  
}
.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
  
}
.Benefits{
display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
  
  
}
